.row
	%strong Kategoria wybrana to:
	= @category.name

.row
	- @products.each do |product|
		- if params[:id] == product.category_id.to_s
			.col-xs-6.col-md-3
				.thumbnail.box
					= link_to (image_tag product.image.url(:medium)), product.image.url, class: 'fancybox', :rel => "gallery1", :title => "#{product.title}"
					%center
						- if admin_signed_in?
							%h3= link_to product.title, edit_product_path(product), :title => "Skopiuj i podaj ten kod"
						- else
							%h3= link_to (product.title), product.image.url, class: 'fancybox', :rel => "gallery1", :title => "#{product.title}"
