= image_tag @product.image #.url(:medium)
%h1= @product.title
%p= @product.description
%p
autor:
= @product.admin.email

%br/

= link_to "Back", root_path
= link_to "Edit", edit_product_path
= link_to "Delete", product_path, method: :delete, data: {confirm: "Are you sure?"}