!!!5
%html
%head
	%title Artrhandpoducts
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Art-Hand Studio Artystyczne", root_path

			- if admin_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Dodaj produkt", new_product_path
					%li= link_to 'Dodaj Kategorie', new_category_path
					%li= link_to current_admin.email, edit_admin_registration_path
					%li= link_to "Wyloguj", destroy_admin_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Zaloguj", new_admin_session_path
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"
	.container-fluid
		.row
			.col-md-3.text-center
				- if admin_signed_in?
					%ul.nav.nav-sidebar
					- if @categories
						- @categories.each do |category|
							%li
								%h2
									- if category.id < 16 
										= link_to category.name, category, class: "btn btn-primary"
									- else
										= link_to category.name, category, class: "btn btn-primary-red"
								%hr
				- else
					%ul.nav.nav-sidebar
					-if params[:action] != "small" and params[:id].to_i < 16
						%li
							= link_to 'Prezent z okazji Rocznicy Ślubu, Jubileuszu', 'http://podziekowania.pl/categories/15', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Prezent z życzeniami dla Młodej Pary', 'http://podziekowania.pl/categories/14', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Ślubne Podziękowania dla Rodziców', 'http://podziekowania.pl/categories/12', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Podziękowania dla świadków w formie dyplomu', 'http://podziekowania.pl/categories/11', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Księga Gości Weselnych do wpisu', 'http://podziekowania.pl/categories/10', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Życzenia prezent na Urodziny', 'http://podziekowania.pl/categories/13', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Pamiątka I Komunii Świętej', 'http://podziekowania.pl/categories/9', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Życzenia na Dzień Matki', 'http://podziekowania.pl/categories/4', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Życzenia uniwersalne', 'http://podziekowania.pl/categories/5', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Prezent z okazji przejścia na emeryturę', 'http://podziekowania.pl/categories/6', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Prezent Imieninowy', 'http://podziekowania.pl/categories/7', class: "btn btn-primary"
							%hr
						%li
							= link_to 'Prezent na Bierzmowanie', 'http://podziekowania.pl/categories/8', class: "btn btn-primary"
							%hr
					-else 
						- Category.small.each do |category|
							%li
								%h2
									= link_to category.name, category, class: "btn btn-primary"
							%hr

			.col-md-9
				=yield

