!!!5
%html
%head
	%title Artrhandpoducts
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Art-Hand Studio Artystyczne", root_path

			- if admin_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Dodaj produkt", new_product_path
					%li= link_to "Profil", edit_admin_registration_path
					%li= link_to "Wyloguj", destroy_admin_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Zaloguj", new_admin_session_path
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"
			
		= yield