!!!5
%html
%head
	%title Artrhandpoducts
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Art-Hand Studio Artystyczne", root_path

			- if admin_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Dodaj produkt", new_product_path
					%li= link_to 'Dodaj Kategorie', new_category_path
					%li= link_to current_admin.email, edit_admin_registration_path
					%li= link_to "Wyloguj", destroy_admin_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Zaloguj", new_admin_session_path
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"
	.container-fluid
		.row
			.col-md-3.text-center
				- if admin_signed_in?
					%ul.nav.nav-sidebar
					- if @categories
						- @categories.each do |category|
							%li
								%h2
									- if category.id < 16 
										= link_to category.name, category, class: "btn btn-primary"
									- else
										= link_to category.name, category, class: "btn btn-primary-red"
								%hr
				- else
					%ul.nav.nav-sidebar
					-if params[:action] != "small" and params[:id].to_i < 16
						- Category.biged.each do |category|
							%li
								%h2
									= link_to category.name, category, class: "btn btn-primary"
							%hr
					-else 
						- Category.small.each do |category|
							%li
								%h2
									= link_to category.name, category, class: "btn btn-primary"
							%hr

			.col-md-9
				=yield

